<header>

      <h1 class="site-title">QuizLIT</h1>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="#">Home</a></li>
        <li class="navitem"><a href="#">CS290</a></li>
        <li class="navitem"><a href="#"> Add Another class +</a></li>
     </ul>

    </nav>
    </header>