<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>QuizLIT</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.runtime.js" defer></script>
    <link rel="stylesheet" href="/style.css" media="screen">
    <script src="/cardTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="/style.css" media="screen">

  </head>

  <body>
    <header>

      <h1 class="site-title">QuizLIT</h1>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem"><a href="cs290">CS290</a></li>
          <li class="navitem newSet"><a> Add Another set +</a></li>
          <li class="navitem"><a href="home">Home</a></li>
        </ul>

      </nav>
    </header>
        
        {{{body}}}

        <div id="create-new-set-modal" class="hidden">
          <div class="set-modal-dialog">
            <div class="set-modal-body">
              <div class="class">
                <textarea class="class-name-input">Class Name</textarea>
              </div>
            </div>

            <button type="button" class="modal-create-set">Create New Set</button>
            <button type="button" class="modal-cancel-set"><i class="far fa-times-circle"></i></button>
          </div>
        </div>
  </body>
</html>
