<main class="flash-card-container">
      <article class="flash-card">
          <p class="front term">Term:</p>
          <p class="back definition">Definition: </p>
      </article>
<<<<<<< HEAD
</main>

<button type="button" class="create-new-card"><i class="far fa-plus-square"></i></button>
<button type="button" class="next-flash-card-button"><i class="fas fa-step-forward"></i></button>

<div id="create-flashcard-modal" class="hidden">
    <div class="flashcard-modal-dialog">
        <div class="flashcard-modal-body">
            <div class="term">
                <textarea class="term-input">Term</textarea>
            </div>
            <div class="definition">
                <textarea class="definition-input">Definition</textarea>
            </div>
        </div>

        <button type="button" class="modal-create-flashcard">Create Card</button>
        <button type="button" class="modal-cancel-flashcard"><i class="far fa-times-circle"></i></<button>
    </div>
</div>



<div id="create-new-set-modal" class="hidden">
    <div class="class">
        <textarea class="class-name-input">Class Name</textarea>
    </div>

    <button type="button" class="modal-create-set">Create New Set</button>
    <button type="button" class="modal-cancel-set"><i class="far fa-times-circle"></i></<button>
</div>
=======
    </main>

    <button type="button" class="create-new-card"><i class="far fa-plus-square"></i></button>
    <button type="button" class="next-flash-card-button"><i class="fas fa-step-forward"></i></button>

    <div id="create-flashcard-modal" class="hidden">
      <div class="flashcard-modal-dialog">
        <div class="flashcard-modal-body">
      <div class="term">
        <textarea class="term-input">Term</textarea>
      </div>
      <div class="defintion">
        <textarea class="definition-input">Definition</textarea>
      </div>
    </div>

      <button type="button" class="modal-create-flashcard">Create Card</button>
      <button type="button" class="modal-cancel-flashcard"><i class="far fa-times-circle"></i></<button>
    </div>
  </div>



    <div id="create-new-set-modal" class="hidden">
      <div class="class">
        <textarea class="class-name-input">Class Name</textarea>
      </div>

      <button type="button" class="modal-create-set">Create New Set</button>
      <button type="button" class="modal-cancel-set"><i class="far fa-times-circle"></i></<button>
    </div>
>>>>>>> 4a4e26b05ca5b725994e2d2e6f3b35b268ce7ccf
