<main class="flash-card-container">
      <article class="flash-card">
          <p class="front term"></p>
          <p class="back definition"></p>
      </article>
</main>

<button type="button" class="create-new-card"><i class="far fa-plus-square"></i></button>
<button type="button" class="prev-flash-card-button"><i class="fas fa-step-backward"></i></button>
<button type="button" class="next-flash-card-button"><i class="fas fa-step-forward"></i></button>

<div id="create-flashcard-modal" class="hidden">
    <div class="flashcard-modal-dialog">
        <div class="flashcard-modal-body">
            <div class="term">
                <textarea class="term-input">Term</textarea>
            </div>
            <div class="definition">
                <textarea class="definition-input">Definition</textarea>
            </div>
        </div>

        <button type="button" class="modal-create-flashcard">Create Card</button>
        <button type="button" class="modal-cancel-flashcard"><i class="far fa-times-circle"></i></button>
    </div>
</div>