body{
    background-color: whitesmoke;
    font-family: "Gill Sans", sans-serif;
    margin: 0;
}

.site-title {
    font-family: "Gill Sans", sans-serif;
    color:black;
    text-align: center;
    font-size: 64px;
    background-color: #fa7006;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: lightgrey;
}

/*.navlist {
    display: flex;
    margin-left: 5%;
    margin-right: 5%
}
.navitem {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 24px;
    border: 2px black solid;
}*/
.navbar{
    display: flex;
    position: fixed;
    left:0%;
    margin-right: 5px;

}
.navitem a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px 16px;
}

.navitem a:hover {
    background-color: grey;
    cursor: pointer;
}

.flash-card-container {
    display: flex;
    perspective: 700;
    justify-content: center;
}

.flash-card {
    border: 1px grey solid;
    padding-right: 145px;
    padding-left: 145px;
    padding-bottom: 90px;
    background-color: white;
    --box-shadow-color: grey;
    box-shadow: 5px 10px var(--box-shadow-color);
    margin-bottom: 45px;
    margin-top: 45px;
    align-items: center;
    width: 500px;
    height: 350px;

    transition: all 0.6s ease;
    transform-style: preserve-3d;

}


.flash-card:active {
  transform: rotateY(360deg);
}

.front {
    font-weight: bold;
    text-align: center;
    visibility: visible;
}

.back {
    font-weight: bold;
    text-align: center;
    visibility: hidden;
}

.error-page {
    text-align: center;
    font-size: 32pt;
}

#next-flash-card-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 30px;
  color: grey;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-flashcard-modal {
  position: fixed;
  z-index: auto;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: white;
  right: 0%;
  top: 10%;
  border: 1px solid;

}

#create-new-set-modal{
  position: fixed;
  z-index: auto;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: white;
  right: 5%;
  top: 30%;
  border: 1px solid;
}

.hidden{
  display: none;
}

.flashcard-modal-dialog{
    width: auto;
    max-width: 400px;
    min-width: 200px;
    min-height: 250px;
    margin: 40px auto;
    background-color: #fa7006;
    border-radius: 15px solid;
}

.modal-cancel-flashcard{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.flashcard-modal-body{
    position: relative;
    padding: 30px 30px;
}

.set-modal-dialog{
    width: auto;
    max-width: 400px;
    min-width: 200px;
    min-height: 150px;
    margin: 40px auto;
    background-color: #fa7006;
    border-radius: 15px solid;
}

.modal-cancel-set{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.set-modal-body{
    position: relative;
    padding: 30px 30px;
}
.term-input{
    display: flex;
  align-items: center;
  font-size: 15px;
  margin: 10px 0;
}

.definition-input{
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 300px;
    height: 100px;
    margin: 10px 0
}

.create-new-card{
    position:fixed;
    height: 60px;
    width: 60px;
    bottom: 10px;
    right: 47%;
    background-color: #fa7006;
    border-radius: 30px;
    font-size: 24px;
    border:none;
    cursor:pointer;
    overflow: hidden;
    transition-duration: 0.4s;
}   

.create-new-card:after{
    content: "";
    background: white;;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.create-new-card:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }


.create-new-card:focus{
    outline:none;
}

.next-flash-card-button{
    position:fixed;
    height: 60px;
    width: 60px;
    bottom: 10px;
    right: 15%;
    background-color: #fa7006;
    border-radius: 30px;
    font-size: 24px;
    border:none;
    cursor:pointer;
    overflow: hidden;
    transition-duration: 0.4s;
}
.next-flash-card-button:after{
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.next-flash-card-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.next-flash-card-button:focus{
    outline:none;
}

.prev-flash-card-button{
    position:fixed;
    height: 60px;
    width: 60px;
    bottom: 10px;
    left: 15%;
    background-color: #fa7006;
    border:none;
    border-radius:  30px;
    font-size: 24px;
    cursor:pointer;
    overflow: hidden;
    transition-duration: 0.4s;
}
.prev-flash-card-button:after{
    content: "";
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.prev-flash-card-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.prev-flash-card-button{
    outline:none;
}

.title-container{
    text-align: center;
}