body{
    background-color: whitesmoke;
    margin: 0;
}
.site-title {
    text-align: center;
    font-size: 64px;
    background-color: lightblue;
    margin: 0;
}

.navlist {
    display: flex;
    margin-left: 5%;
    margin-right: 5%
}

.navitem {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 24px;
    border: 2px black solid;
}

.navitem a{
    text-decoration: none;
    color: black;
}
.flash-card-container {
    display: flex;
}

.flash-card {
    border: 1px blue solid;
    padding-right: 145px;
    padding-left: 145px;
    padding-bottom: 90px;
    background-color: white;
    margin-bottom: 45px;
}

.front {
    font-weight: bold;
    text-align: center;
}

.back {
    font-weight: bold;
    text-align: center;
}

.error-page {
    text-align: center;
    font-size: 32pt;
}